<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">
        {{getName()}}'ın Listesi
      </h3>

      <div class="input-group mb-3">
        <input [(ngModel)]="inputText" type="text" class="form-control"
               (keyup.enter)="addItem()">
        <button class="btn" (click)="addItem()"
                [class]="getBtnClasses()">
          Add
        </button>
      </div>



      <div class="form-check mb-3">
        <input type="checkbox" [(ngModel)]="displayAll" id="displayAll" class="form-check-input">
        <label for="displayAll" class="form-check-label">Hepsini Göster</label>
      </div>

      <ng-template #itemsTable>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of getItems(); let i=index"
              [class]="{'bg-primary':!item.action,'bg-warning':item.action}">
            <td>{{i + 1}}</td>
            <td>{{item.description}}</td>
            <td>
              <!--<div *ngIf="item.action">Yes</div>
              <div *ngIf="!item.action">No</div>-->

              <!--              switch-case yapısı-->
              <!--<div [ngSwitch]="item.action">
                <div *ngSwitchCase="true">Yes</div>
                <div *ngSwitchDefault>No</div>
              </div>-->

              <!--              if-else yapısı-->
              <!--<div *ngIf="item.action else noTemplate">Yes</div>
              <ng-template #noTemplate>
                No
              </ng-template>-->

              <!--              if-then yapısı-->
              <!--
              <div *ngIf="item.action then noTemplate">Burası gösterilmez</div>
              <ng-template #noTemplate>
                No
              </ng-template>-->

              <!--              if-then-else yapısı-->
              <div *ngIf="item.action then yesTemplate else noTemplate">Burası gösterilmez</div>
              <ng-template #yesTemplate>
                Yes
              </ng-template>
              <ng-template #noTemplate>
                No
              </ng-template>


            </td>
            <td>
              <input type="checkbox"  (change)="onActionChanged(item)" [(ngModel)]="item.action">
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>

      <div class="my-2">
        {{displayCount()}} görev tamamlandı.
      </div>


      <div class="alert alert-success" *ngIf="getItems().length==0 else itemsTable">
        Tüm görevler tamamlandı.
      </div>
    </div>
  </div>
</div>
